body,ul,li,p,div{ 
  margin:0 auto;
  padding:0;  
}
body{
  font-family: Times New Roman, Times, serif;
  color:#614b35;
  font-size:17px;
  background:#EBE8D0;
margin-top:10px;
}
#container{
  width:850px;
  border-left:1px solid #937e06;
  border-right:1px solid #937e06;
  border-bottom:1px solid #937e06;
}
#header{
height:159px;
text-align:center;
border-top:1px solid #937e06;
border-bottom:1px solid #937e06;
background-image:url(sccse2026.jpg);
}
#content{
}
#nav{
  width:250px;
  float:left;
  padding-bottom:10px;
  line-height:150%;
}
#nav ul{
width:230px;
border-bottom:1px solid #614b35;
}
#nav li{
font-size:20px;
list-style-type:none;
}
#con_main{
  background-color:#fff;
  width:599px;
  color:#3e4502;
  float:right;
  border-left:1px solid #937e06;
  padding-bottom:450px;
}
li.cnt{
color:#3e4502;
width:540px;
margin-left:25px;
margin-bottom:5px;
background:url(bullet_blue.gif) no-repeat top left;
list-style-type:none;
padding-left:16px;
}
h2{
width:560px;
margin-left:20px;
border-bottom:1px solid #000;
padding-bottom:5px;
}
h3{
width:560px;
margin-left:20px;
border-bottom:1px solid #000;
padding-bottom:5px;
}
p{
width:560px;
margin-left:20px;
margin-bottom:15px;
text-align:justify;
}
a{
color:#614b35;
text-decoration:none;
}
a:link{
color:#937e06;
text-decoration:none;
}
a:visited{
color:#937e06;
text-decoration:none;
}
a:hover{
text-decoration:none;
color: #cc0000;
}
.t1{
border-top:1px solid #614b35;
border-bottom:1px solid #614b35;
width:230px;
}
.t2{
font-weight:bold;
margin-left:10px;
}
.t3{
font-weight:bold;
font-size:20px;
margin-left:20px;
}
ol li{
  margin-bottom:5px;
}
.space{
height:30px;
border-bottom:1px solid #937e06;
background:#EBE8D0;
}

.STYLE53 {
color: #FF6600;
}
#footer{
text-align:center;
background:#957f06;
color:#fff;
width:600px;
margin-left:250px;
clear:both;
}

